{% extends './_base.html' %} 
{% load i18n %}
{% load static %}

{% block title %}
{% trans "Log in" %}

{% endblock title %} 

{% block body %}
<div class="container-sm user-account">

   <!-- <div class=""></div> --> 
    <div class="row d-flex justify-content-center">

        <div class="col-md-6 border m-4">
          {% with form as form.as_p %}
            <form action="/process_edit_knight" method="post" class="row g-2 my-4 px-2">

                <h3 class="text-center">{% trans "Edit Knight" %}</h3>

                <div class="col-xl-12">
                <div class="input-group">
                    <div class="input-group-prepend d-none d-sm-block">
                      <span class="input-group-text" id="">{% trans "First & last name" %}</span>
                    </div>
                    {{ form.first_name }}                
                    {{ form.last_name }}                
                  </div>
                <div class="col-xl-12 my-4">
                  <label for="crewInput" class="form-label">Družina</label><br>
                                {% for crew in crewcap%}

                                <input type="radio" name="crew" value="{{crew.0}}" required                                 {% if form.crew.value == crew.0 %}
                                checked="checked"                                {% endif %}/>
                                <img src="/{{ crew.3 }}" class="img-responsive" style="width: 10%;" />

                                {{ crew.0 }} {{ crew.1 }} / {{ crew.2 }}
                                
                                    <br>
                                {% endfor %}
                            



                </div>

                {% csrf_token %}
                <input class="my-3" type="submit" value="{% trans "Edit Knight" %}">
            </form>
            {% endwith %}
        </div>
    </div>
    
</div>

{% endblock body %}