{% extends './_base.html' %} 
{% load i18n %}

{% block title %}
{% trans "Account" %}
 - 
{% trans "Shipping Addresses" %}
{% endblock title %} 

{% block body %}
<div class="container-sm user-account">
<h1>{% trans "Shipping Addresses" %}</h1>

   <!-- <div class=""></div> --> 
    <div class="row border">
        <div class="col-md-3 border-dark border">
        <nav class="nav sm-flex-column">
            <a class="nav-link" aria-current="page" href="/ucet">{% trans "Account Overview" %}</a>
            <a class="nav-link active" href="/rytiri">{% trans "Knights Overview" %}</a>
        </nav>
        </div>
        <div class="col-9">
            <form action="api/customer/personal/edit" method="post" class="row g-3">
                <div class="col-md-12">
                    <div class="col-md-3">
                    +
                    </div>
                    <div class="col-md-9">
                    <table>Table of hell</table>
                       {% for knight in knights %}
                       <tr>       {{ knight.name }}</tr>  
                        {% endfor %}
                    </div>
                </div>
                <h3>{% trans "All Knights Overview" %}</h3>
                <a href="/novy-rytir"><i class="bi-plus icon mx-2" role="img" aria-label="Plus"></i> </a>

        </div>
    </div>
    
</div>

{% endblock body %}